.about{

    padding:80px 10%;
    background:white;
    text-align:center;
}

.about h2{

    font-size:38px;
    color:#111827;
    margin-bottom:25px;
}

.about p{

    max-width:800px;
    margin:20px auto;
    line-height:1.8;
    color:#4b5563;
    font-size:18px;
}