.footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:40px 20px;
}

.footer h3{
    font-size:28px;
    margin-bottom:10px;
}

.footer p{
    color:#cbd5e1;
    margin:8px 0;
}

.copyright{
    margin-top:20px;
    font-size:14px;
}