*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.chat-page{
    height:100vh;
    background:#0f172a;

    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-container{

    width:900px;
    height:85vh;

    background:#1e293b;

    border-radius:15px;

    display:flex;
    flex-direction:column;

    overflow:hidden;
}

.chat-header{

    background:#111827;

    padding:20px;

    color:white;

    border-bottom:1px solid #334155;
}

.chat-body{

    flex:1;

    padding:25px;

    overflow-y:auto;
}

.bot-message{

    width:fit-content;

    max-width:70%;

    background:#334155;

    color:white;

    padding:15px;

    border-radius:15px;

    line-height:1.6;
}

.chat-input{

    display:flex;

    padding:20px;

    background:#111827;

    gap:15px;
}

.chat-input input{

    flex:1;

    padding:14px;

    border:none;

    outline:none;

    border-radius:10px;

    font-size:16px;
}

.chat-input button{

    padding:14px 25px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.chat-input button:hover{
    background:#1d4ed8;
}

.chat-input button:disabled {
  background: #64748b;
  cursor: not-allowed;
}

.user-message{

    margin-left:auto;

    width:fit-content;

    max-width:70%;

    background:#2563eb;

    color:white;

    padding:15px;

    border-radius:15px;

    margin-top:15px;

    line-height:1.6;
}

.bot-message{

    margin-top:15px;
}
